<aside>
    <h4>Profile for {{message.name | json}} </h4>
    <form>
        <label>
            <p *ngFor="let item of message |  keyvalue " >{{item.key}} : {{item.value}}</p>
        </label>

    </form>
</aside>
