<aside>
    <p>Please select a category and enter an number from 1 to 5: </p>
    <select (change)="selectItem($event)"> 
        <option *ngFor='let item of allcategories | keyvalue' [value]="item.key">{{item.key}}</option></select>
    
    <input required type="number" min="1" max="5" step="1" [(ngModel)]='selectedID' #spy='ngModel' /><br>

    <span [hidden]='spy.valid || spy.pristine'>Please select ID from 1-5!</span>

    <button [disabled]='spy.invalid' (click) = passMessage($event) (click) = selectID($event) >submit</button>

    <h3>Selected Category: </h3>
    <p> {{selectedCategory}}</p>
    <h3>Selected ID: </h3>
    <p> {{selectedID}}</p>
    <h3>Selected Name:</h3>
    <p>{{categoryModel.name | json}}</p>
    <h3>JSON DATA:</h3>
    <p>{{categoryModel| json}}</p>

    <h3>Other Features:</h3>
    <button [disabled]='spy.invalid' (click) = passMessage($event)>GO</button>
</aside>